@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep these specific styles for the 3D scene */
html, 
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  touch-action: none;
}
